.logo2 {
    height: 15px;   /* Ajusta el tamaño del logo */
    width: auto;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
